body {
    margin:0;
    text-align: center;
    font-family: "Merriweather",sans-serif;
    font-size: 16px;
    color: #40514E;
}



h1 {
    margin-top: 0;
    font-size: 5.125rem;
    margin-bottom: 0;
    font-family: "Sacramento";
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 2.75rem;
}

h3 {
    color: #66BFBF;
}

.skill-row {
    width: 50%;
    line-height: 2;
    margin: auto;
    text-align : left;
    padding-bottom: 3%;
}

.subtitle {
    font-size: 20px;
    color: #66BFBF;
}

.pro {
    text-decoration: underline;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 120px;

}


.top-cloud{
    position: absolute;
    right : 200px;
    top : 50px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
}

.profile-image {
    width: 15%;
    padding-top: 50px;
}

.python-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.web-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.middle-container {
    padding-bottom: 50px;
}

.intro {
    width: 30%;
    margin: auto;
    line-height: 2;
    border-bottom: 10px;
    margin-bottom: 30px;
}

hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px ;
    border-color: grey;
}

.contact-me {
    width: 40%;
    margin: 40px auto 20px;
}

.btn {
    background: #11ccdd;
    background-image: -webkit-linear-gradient(top, #11ccdd, #11999e);
    background-image: -moz-linear-gradient(top, #11ccdd, #11999e);
    background-image: -ms-linear-gradient(top, #11ccdd, #11999e);
    background-image: -o-linear-gradient(top, #11ccdd, #11999e);
    background-image: linear-gradient(to bottom, #11ccdd, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-top: 10px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
    text-decoration: none;
  }

.outro {
      padding-bottom: 40px;
  }

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin-top: 50px;
}

a {
    color: #3ea2a5;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color : #EAF6F6;
}

.copyright {
    color : #EAF6F6;
    font-size: 0.75rem;
    padding-top: 10px;
}

.quote {
    text-align: center;
    color: #40514E;
}

.quote-p {
    font-size:2rem;
    padding: 0 15% 5%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Montserrat';
}

.quote-h1 {
    font-family: sans-serif;
    font-size: 3rem;
    padding-top: 3%;
}

.git-image {
    width: 30%;
    float: left;
    margin-right: 30px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E4F9F5;

  }
  
li {
    float: left;
}

li a {
    display :block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
<<<<<<< HEAD
  }

@media (max-width:1024px) {

    .top-container {
        padding-top: 60px;
    }

    h1 {
        font-size: 3rem;
    }

    .top-cloud {
        position: static;
        margin : 0 0 3% 40%;
    }

    .bottom-cloud {
        position: static;
        margin : 0 40% 3% 0%;
    }

    .mountain-image {
        width : 100%;
    }

    li a {

        font-size: 14px;
        
    }
    .profile-image {
        width: 25%;
    }

    .intro {
        font-size:medium;
        width: 70%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .skill-row {
        width: 70%;
    }
    .git-image {
        width: 30%;
    }

    .web-image {
        width: 30%;
    }
    .python-image {
        width: 30%;
    }
    .quote-h1 {
        font-size: 2rem;
    }
    .quote-p {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    .outro {
        font-size: small;
    }
    .btn {
        font-size: medium;
    }
}   

=======
}
>>>>>>> f98e39695430eefe8cb0a8e57fb6939fc3d417eb
